<h1>{{title}} {{version}}</h1>
<p>This API was written by {{authors}}.  It was last updated on {{date}}.  Enjoy the pancakes!</p>


<section id='pancake-listing'>
  <h2>Pancakes Listing</h2>
</section>




<script type ='text/template' id='recipe-template'>
<article>
    <strong>Ingredients</strong>: <%= ingredients %><br>
    <strong>Type</strong>: <%= type %><br>
    <strong>Topping</strong>: <%= topping %><br>
    <strong>Syrup</strong>: <%= syrup %> <br>
    <strong>Instructions</strong>: <%= instructions %><br>
    <strong>Time</strong>: <%= time %><br>
</article>
</script>

<!-- loading custom app --->
<script src='/javascripts/app.js'></script>
